/Amazon.class
/Amazon_text.class
/Assignment.class
/Badoota.class
/Flipkart.class
/Multiple_webelement.class
/TreeList.class
/checkbox.class
/getAttribute.class
/getLocation.class
/getText.class
/pgm1.class
