/Amazon.class
/FB.class
/Flipkart_Xpath.class
/Flipkart_assign1.class
/Gmail.class
/Gmail1.class
/Instagram.class
/PracticeChild.class
/TestCase3.class
/Testcase1.class
/Testcase2.class
/XPATH_1.class
/practice.class
